<html>
<head>
	<title>Weatherish</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
</head>
<body ng-app="weatherish" ng-controller="homeCtrl">

	<div class="navbar">
        <button ui-sref="forecast"> Home </button>
        <div show-time></div>
        <form>
		<input placeholder="Enter city..." ng-model="cityInput">
		<input type="submit" value="Search" ui-sref="forecast.current" ng-click="getWeather(cityInput)">
	</form>
    </div>	




<ui-view></ui-view>
<footer>Weather data courtesy of Dark Sky Company, LLC</footer>
	<script src="https://code.angularjs.org/1.4.7/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
	<!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
	<!-- <script src="bootstrap/ui-bootstrap.js"></script> -->
	<script src="js/app.js"></script>
	<script src="js/current/currentCtrl.js"></script>
	<script src="js/sevenDay/sevenDayCtrl.js"></script>
	<script src="js/home/homeCtrl.js"></script>
	<script src="js/hourly/hourlyCtrl.js"></script>
	<script src="js/weatherService.js"></script>
	<script src="js/directives/timeDirective.js"></script>
	<script src="js/directives/alertsDirective.js"></script>
	<script src="js/directives/routesDirective.js"></script>


</body>
</html>