body {
	margin: 0;
	background-color: #3498DB;
}

.navbar {
	width: 100%;
	text-align: center;
	background-color: #3498DB;
}

.city-input {
	margin-top: 10px;
	background: transparent;
    color: #FFF;
    font-size: 3.5em;
    border: none;
    text-align: center;
    outline: none;
    border-bottom: 1px solid gray;
}
.city-search {
	background: transparent;
	outline: none;
}

#nav-time {
	color: white;
	text-align: center;
	font-size: 2em;
}

.home-container, .current-contatiner, .forecast-container, .hourly-container{
	background-color: #3498DB;
}

.seven-day-contain {
	width: 98%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.seven-day-contain .well {
	background-color: #428bca;
	box-sizing: border-box;
	width: 165px;
	border-radius: 15px;
	cursor: pointer;
}
.day-date, .day-hi-lo, .day-precip{
	font-size: 2em;
	text-align: center;
	color: white;
}

.day-date {
	font-size: 2em;
}
.day-hi-lo {
	font-size: 1.25em;
}
.day-precip {
	font-size: 1.1em;
}


#hourly-columns {
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.city {
	width: 100%;
	text-align: center;
}

.current {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
#source, #summary {
	width: 100%;
	text-align: center;
}

.alerts {
	text-align: center;
	color: red;
}

.alerts .well {
	width: 60%;
	margin: 2px auto;
	padding: 2px;
	border-radius: 15px;
}

.current-container .well {
	width: 35%;
	margin: 0 auto;
	border-radius: 15px;
}

h1 {
	font-size: 10em;
}


