<div class="home-containter">
	
	<form>
		<input placeholder="Enter city..." ng-model="city">
		<input type="submit" value="Search" ui-sref="current" ng-click="getWeather(city)">
	</form>

</div>
	<h3 class="alert-title">{{weather.alerts[0].title}}</h3>
	<p class="alert-description">{{weather.alerts[0].description}}</p>
	<h3 class="alert-title">{{weather.alerts[1].title}}</h3>
	<p class="alert-description">{{weather.alerts[1].description}}</p>
	<h3 class="alert-title">{{weather.alerts[2].title}}</h3>
	<p class="alert-description">{{weather.alerts[2].description}}</p>


