<button ui-sref="forecast.current"> Current Weather </button>
<button ui-sref="forecast.sevenDay"> 7 Day Forecast </button>


<h1>{{city}}</h1>
<div>Summary: {{weather.hourly.summary}}</div>
<div ng-repeat="day in weather.hourly.data" ng-click="showHourly = !showHourly">
	<div>{{convertDate(day.time) | date: "h a"}}</div>
	<div>{{day.summary}}</div>
	<div>{{round(day.temperature)}}°</div>
	<div>{{day.precipProbability}}%</div>
	<div>{{day.precipType}}</div>
	<div ng-show="showHourly">
		<div>{{direction(weather.currently.windBearing)}}</div>
		<div>{{round(day.windSpeed)}} mph</div>
		<div>{{day.dewPoint}}</div>
		<div>{{day.humidity}}</div>
		<div>{{day.visibility}</div>
		
	</div>
	<hr>	
</div>