<routes-directive></routes-directive>

<h1>Hourly Forecast</h1>

<h2>{{city}}</h2>
<alerts-directive></alerts-directive>
<button ng-click="toggleUnits = !toggleUnits">°F / °C</button>

<div>Summary: {{weather.hourly.summary}}</div>

<div ng-repeat="weather in weather.hourly.data" ng-click="showHourly = !showHourly">
	<div>{{convertDate(weather.time) | date: "h a"}}</div>
	<div>{{weather.summary}}</div>
	<div>{{round(weather.temperature)}}°</div>
	<div>{{weather.precipProbability}}%</div>
	<div>{{weather.precipType}}</div>
	<div ng-show="showHourly">
		<div>{{direction(weather.currently.windBearing)}}</div>
		<div>{{round(weather.windSpeed)}} mph</div>
		<div>{{weather.dewPoint}}</div>
		<div>{{weather.humidity}}</div>
		<div>{{weather.visibility}</div>
		
	</div>
	<hr>	
</div>