<routes-directive></routes-directive>
<h1>7 Day Forecast</h1>

<div class="forecast-container">
<h2>{{city}}</h2>
<alerts-directive></alerts-directive>

	
</div>
	<div class="seven-day-container">
<button ng-click="toggleUnits = !toggleUnits">°F / °C</button>

		<div ng-repeat="weather in weather.daily.data" ng-click="showDaily = !showDaily">
			<div>{{convertDate(weather.time) | date: "EEEE M/d"}}</div><div>{{weather.summary}}</div>
			<div>Hi: {{round(weather.temperatureMax)}}°F</div>
			<div>Lo: {{round(weather.temperatureMin)}}°F</div>
				<div ng-show="showDaily">
				
				</div>
		</div>
	</div>
